body {
    background:green;
    margin-left: 10;
}
header{
    margin-top: 100px;
}
h1{
    color: red;
    font-family: fantasy;
}
h2{
    font-family: fantasy;
    font-size: 18;
}
img{
    margin-bottom: 500px;
    width: 100;

}
.j{
    margin-bottom: 20px;
    width: 300px;
}